<div class='w3-row'>
  <div class='w3-col'>
    <div id='Doors'>{{Doors}}</div>
  </div>
</div>
<div class='w3-row'>
    <div id='Temperature'>{{Temperature}}</div>
  </div>
</div>
<div class='w3-row'>
  <div class='w3-half'>
    <div id='Voltage'>{{Voltage}}</div>
  </div>
  <div class='w3-half'>
    <div id='Laptop'>{{Laptop}}</div>
  </div>
</div>